body {
  font-family: 'Lato', sans-serif;
}

/* Navbar animation */
.sina-nav {
  font-size: 15.5px;
  letter-spacing: 1px;
}

.navbar .container-fluid{
  padding-left:0!important;
  padding-right:0!important;
}

.top-nav-collapse {
  background-color: #1C2331;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 991px) {
  .navbar {
    background-color: #1C2331;
  }
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331;
}

/*Brand logo on the left-top*/
.logo_h {
  height: 65px;
}

/*Width of whole Page*/
.container-fluid {
  max-width: 115em;
}

.container {
  max-width: 75em;
}

/*banner-text*/
.banner-text {
  background-color: rgba(155, 155, 155, 0.2);
}
.website-text{
  width:80%;
  max-width: 50pc;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .banner-text {
    text-align: left !important;
  }
}

@media (min-width: 1155px) and (max-width: 1255px) {
  .sina-nav .sina-menu > li > a {
    font-size: 12px;
    padding-left: 8px;
  }
}

/*GoogleMap*/
.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.contact-us
{
  width: 100%;
  height: 100%;
}

/*footer font*/
.footer-font {
  font-size: 13.5px;
}

.card-comments img {
  width: 4rem; }

/*divider*/
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

/* stroke */
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}

/* stroke */
nav.stroke ul li a {
  position: relative;
}
nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}

/* Keyframes */
@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #eee;
    border-radius: 100%;
  }
  100% {
    background: #aaa;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}

@media (min-width: 768px) and (max-width: 1230px) {
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
.col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4,
.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-left:10px;
  padding-right:10px;
}
