body {
  font-family: 'Helvetica', sans-serif;
  -webkit-font-smoothing: auto;
  background-color: #efefef;
}

header {
  font-family: 'Helvetica', sans-serif;
  -webkit-font-smoothing: auto;
  font-weight: 300;
}

/* Navbar animation */
.sina-nav {
  font-size: 14px;
  letter-spacing: 0.6px;
}

.sina-nav .sina-menu .dropdown .dropdown-menu .row li a {
  height: 100%;
  width: 100%;
}

.ocgblue {
  color: #227edc !important;
}

.headline {
  color: #212529;
  font-weight: 500;
  font-style: normal;
  font-size: 1.6rem;
}

.webhead {
  color: #000;
  font-weight: 500;
  font-style: normal;
  font-size: 1.25rem;
}

.webcontent {
  line-height: 1.6;
  font-weight: 500;
  clear: left;
  margin-top: 1em;
  color: #212529;
  text-align: justify;
}

@media screen and (max-width: 47.9375em) {
  .headline {
    font-size: 1.375rem !important;
  }

  .webcontent {
    font-size: 1rem !important;
  }

  .webhead {
    font-size: 1.375rem !important;
  }
}

@media (min-width: 0px) and (max-width: 1155px) {
  .pcnav {
    display: none !important;
  }
}

@media (min-width: 1155px) and (max-width: 9999px) {
  .mobilenav {
    display: none !important;
  }
}

.navbar .container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.top-nav-collapse {
  background-color: #1C2331;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 991px) {
  .navbar {
    background-color: #1C2331;
  }
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331;
}

/*Brand logo on the left-top*/
.logo_h {
  height: 65px;
}

/*Width of whole Page*/
.container-fluid {
  max-width: 115em;
}

.container {
  max-width: 75em;
}

/*banner-text*/
.banner-text {
  background-color: rgba(155, 155, 155, 0.2);
}

.website-text {
  width: 80%;
  max-width: 50pc;
  margin: 0 auto;
}

.sitemap-text {
  font-size: 14px;
}

@media (max-width: 600px) {
  .banner-text {
    text-align: left !important;
  }
}

@media (min-width: 1155px) and (max-width: 1255px) {
  .sina-nav .sina-menu>li>a {
    font-size: 12px;
    padding-left: 8px;
  }
}

/*GoogleMap*/
.map-container {
  overflow: hidden;
  padding-bottom: 70%;
  position: relative;
  height: 0;
  border-radius: 10px 0 0 10px;
}

.map-text {
  border-radius: 0 10px 10px 0;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media (max-width: 1199px) {
  .map-container {
    border-radius: 10px 10px 0 0;
  }

  .map-text {
    border-radius: 0 0 10px 10px;
  }
}

.contact-us {
  width: 100%;
  height: 100%;
}

/*footer font*/
.footer-font {
  font-size: 13.5px;
}

.card-comments img {
  width: 4rem;
}

/*divider*/
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

/* stroke */
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: #555;
}

/* stroke */
nav.stroke ul li a {
  position: relative;
}

nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}

.contactani {
  font-family: 'Lato';
}

.contactani:hover {
  -webkit-animation: heartBeat 1.8s;
  animation: heartBeat 1.8s;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }

  50% {
    width: 100%;
    height: 1px;
  }

  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}

/* Keyframes */
@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #eee;
    border-radius: 100%;
  }

  100% {
    background: #aaa;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}

/*Contact Us */
.contact-meta-info {
  font-size: 95%;
  padding-left: 15px;
}

.contact-meto-info small {
  font-size: 95%;
}

/*Carousel*/
.show-neighbors {
	 overflow: hidden;
}
 .show-neighbors .carousel-indicators {
	 margin-right: 25%;
	 margin-left: 25%;
}
 .show-neighbors .carousel-control-prev, .show-neighbors .carousel-control-next {
	 background: rgba(255, 255, 255, 0.3);
	 width: 25%;
	 z-index: 11;
	/* .carousel-caption has z-index 10 */
}
 .show-neighbors .carousel-inner {
	 width: 150%;
	 left: -25%;
}
 .show-neighbors .carousel-item-next:not(.carousel-item-left), .show-neighbors .carousel-item-right.active {
	 -webkit-transform: translate3d(33%, 0, 0);
	 transform: translate3d(33%, 0, 0);
}
 .show-neighbors .carousel-item-prev:not(.carousel-item-right), .show-neighbors .carousel-item-left.active {
	 -webkit-transform: translate3d(-33%, 0, 0);
	 transform: translate3d(-33%, 0, 0);
}
 .show-neighbors .item__third {
	 float: left;
	 position: relative;
	/* captions can now be added */
	 width: 33.33333333%;
}
 
